Source: ros-lyrical-gz-utils-vendor
Section: misc
Priority: optional
Maintainer: Addisu Z. Taddese <addisuzt@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), cmake, libcli11-dev, ros-lyrical-ament-cmake-copyright <!nocheck>, ros-lyrical-ament-cmake-core, ros-lyrical-ament-cmake-lint-cmake <!nocheck>, ros-lyrical-ament-cmake-test, ros-lyrical-ament-cmake-vendor-package, ros-lyrical-ament-cmake-xmllint <!nocheck>, ros-lyrical-gz-cmake-vendor, ros-lyrical-spdlog-vendor, ros-lyrical-ros-workspace
Homepage: https://github.com/gazebosim/gz-utils
Standards-Version: 3.9.2

Package: ros-lyrical-gz-utils-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcli11-dev, ros-lyrical-gz-cmake-vendor, ros-lyrical-spdlog-vendor, ros-lyrical-ros-workspace
Description: Vendor package for: gz-utils 4.0.0 Gazebo Utils : Classes and functions for robot applications
